.header{
    display: flex;
    justify-content: space-between;
    background-color: cornflowerblue;
    height:4rem;
    padding: 0 2rem;
    font-size: 1.3rem;
}

.header-home{
    border:none;
    border-radius: 0.5rem;
    background-color: transparent;
    text-decoration: none;
    margin: auto 0;
    height: 100%;
    width: 4rem;
}

.header-home:hover{
    background-color: #5c88d7;
}

.header-charts{
    display: flex;
    height: available;
    margin:0 4rem;
    gap: 1rem;
}
.next_page {
    all: unset;
    padding-right: 1.5rem;
    cursor: pointer;
    color:rgba(0,0,0,.5)
  }

  .next_page:hover {
    color:black;
  }
  .header a{
    margin-top: 1.5rem;
}

.headerLink {
    margin-top: 1.5rem;
  }
  
  [pressed]{
    background-color: chocolate;
}

